* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

html, body {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 10px;
    scroll-behavior: none;
    overflow: hidden;
}

// body {
//     overflow: auto;
// }

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}


@font-face {
    font-family: 'Montserrat';
    src: url('~/assets/fonts/Montserrat-VariableFont_wght.ttf');
}