* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    height: 100%;
    width: 100%;
    font-size: 10px;
    overflow: hidden;
}
